<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167372927-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-167372927-2');
    </script>

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/img/websiteicon.png">
    <!-- Author Meta -->
    <meta name="author" content="">
    <!-- Meta Description -->
    <meta name="description" content="Find the cheapest gyms and leisure centres close to your home at the click of a button using Gym Locator - Gyms near me">
    <!-- Meta Keyword -->
    <meta name="keywords" content="Gyms near me, Gym near me, UK Gyms, Puregym, The Gym, Snap Fitness, Gyms, Gym, Cheap Gym, Cheap Gyms, Leisure Centers">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Temporarily Unavailable</title>

    <link rel="icon" href="/img/websiteicon.png">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="css/error.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <div></div>
            <h1>503</h1>
        </div>
        <h2>Coming Soon</h2>
        <p>This page is currently being updated. Check back soon!</p>
        <a href="/">home page</a>
    </div>
</div>

</body>

</html>
<!-- This templates was made by Colorlib (https://colorlib.com) -->