<!DOCTYPE html>
<html>
<head>
    <title>GL-Credits</title>

    <link rel="icon" href="/img/websiteicon.png">

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/hexagons.min.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

</head>
<body style="overflow-x: hidden;">
<!-- start banner Area -->
<section class="banner-area" id="home">
    <!-- Start Header Area -->
    <header class="default-header">
        <nav class="navbar navbar-expand-lg  navbar-light">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="img/logo.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="lnr lnr-menu"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/gyms-near-me">Find A Gym</a></li>
                        <li><a href="/gym-info">Choosing a Gym</a></li>
                        <li><a href="/compare">Compare Gyms</a></li>
                        <li><a href="/contact-us">Advertise</a></li>
                        <!-- Dropdown -->
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                More
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/contact-us">Contact Us</a>
                                <a class="dropdown-item" href="/credits">Private Policy</a>
                                <a class="dropdown-item" href="/credits">Terms of Use</a>
                                <a class="dropdown-item" href="/credits">Website Credits</a>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</section>

<div style="padding-top: 54.5px; padding-bottom: 42px; height: 100%; background-color: white">
    <div style="position: center; text-align: center; right: 50%; font-size: 30px; color: black; padding-bottom: 100px">

        <div style="font-size: 15px;">
            Skip to -
            <a href="#private">PRIVATE POLICY /</a><a href="#terms"> TERMS OF USE /</a><a href="#credits"> WEBSITE CREDITS</a>

        </div>

        <br>
        &nbsp;
        <br>

        <strong id="private">
            Private Policy:
        </strong>
        <br>
        &nbsp;
        <br>
        <div style="font-size: 15px; margin: auto">
            Your personal information
            <br>
            1.1 If you ever let us know your email address, such as when you contact us, we will never divulge it to any third parties.
            <br>
            1.2 On our main page we have a Local Gym Finder. If you enter your postcode or location, we do not store or otherwise keep any record of what you have entered.
            <br>
            <br>
            Mapbox API
            <br>
            2.1 The Gym Finder on our main page uses the Mapbox APIs and for this the Mapbox Privacy Policy applies.
            <br>
            <br>
            Cookies
            <br>
            3.1 Third party advertisements
            <br>
            3.1.1 We may display third party advertisements on this website.
            <br>
            3.1.2 These advertisements can be served on the basis of your previous visits to this website. This is determined by the setting of a cookie on your computer by third parties, including Google.
            <br>
            <br>
            Web statistics
            <br>
            3.2.1 In order to analyse statistics, such as the popularity of pages and number of daily unique visitors, we may use specific software.
            <br>
            <br>
            Affiliate links
            <br>
            3.3.1 We may display affiliate advertisements and links on this website. These are links to third party websites.
            <br>
            3.3.2 If you click on one of these, a cookie will be stored on your machine. The cookie in this instance lets the third party website know we have referred you to them. It does not contain any information that can be used to personally identify you. On the basis of this referral, if you make a subsequent purchase we will receive a commission for referring you.
        </div>
        <br>
        &nbsp;
        <br>
        &nbsp;
        <br>

        <strong id="terms">
            Terms Of Use:
        </strong>
        <br>
        &nbsp;
        <br>
        <div style="font-size: 15px;">
            Gym Finder APIs
            <br>
            1.1. The Gym Finder uses the Mapbox and Twitter APIs.
            <br>
            1.2. By using the Gym Finder, you are also bound by Mapbox's and Twitter's Terms of Service
        </div>
        <br>
        &nbsp;
        <br>
        &nbsp;
        <br>

        <strong id="credits">
            Website Credits:
        </strong>
        <br>
        &nbsp;
        <br>
        <div style="font-size: 15px;">Background Images</div>
        <a href='https://www.freepik.com/vectors/background'>Background vector created by freepik - www.freepik.com</a>
        <br>
        &nbsp;
        <br>
        &nbsp;
        <br>
        <div style="font-size: 15px;">
            Gyms near me - Gym Locator
        </div>
    </div>
</div>

</body>
</html>